.design-container{
    padding: 5px 0px 5px 10px;
    margin: 10px 10px 10px 10px;
    width: max-content;
}

fieldset{
    border: 1px solid rgb(85, 84, 84);
    background-color: rgb(255, 237, 213);
    box-shadow: 0px 0px 5px black;
}

legend {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
  }

form{
    min-width: 375px;
    width: 29.5vw;
}

.text-input{
    margin-left: 10px;
    margin-bottom: 5px;
}

.font-size-input{
    width: 30px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.font-color-input{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.tblr-input{
    width: 30px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.tblr-input{
    width: 30px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.input-type-checkbox{
    margin-bottom: 5px;
}

#boldlabel{
    margin-right: 20px;
}

.shadowblur-input{
    width: 30px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

label{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.font-family-input{
    text-align: left;
    width: 90px;
}

.slidecontainer {
    width: 90%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #6565657c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1000px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    border: 1px solid black;
    border-radius: 1000px;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }


@media screen and (max-width: 1200px) 
{
    .design-container{
        padding: 0px;
        margin: 0px;
        width: max-content;
    }
    
    fieldset{
        border: 1px solid rgb(85, 84, 84);
    }
    
    legend {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 5px 10px;
      }
    
    form{
        max-width: 300px;
        width: 29.5vw;
        margin-bottom: 5px;
    }
    
    .text-input{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    .font-size-input{
        width: 30px;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .font-family-input{
        text-align: left;
        width: 90px;
    }
    
    .font-color-input{
        margin-top: 5px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    
    .tblr-input{
        width: 30px;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .tblr-input-width{
        width: 30px;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    
    .input-type-checkbox{
        margin-bottom: 5px;
    }
    
    #boldlabel{
        margin-right: 20px;
    }
    
    .shadowblur-input{
        width: 30px;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 5px;
    }
    
    label{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;
    }
    
    
    
}