p{
    margin: 0;
    padding: 0;
}
.meme-display-container{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    gap: 20px;
}
.meme-image{
    /* border: 1px solid red; */
    width: fit-content;
}
.meme-image > p{
    position: absolute;
    /* border: 1px solid green; */
}
.meme-display-container > button{
    padding: 20px;
    width: 100px;
    font-size: 20px;
    margin-left: 20px;
}
button:hover{
    cursor: pointer;
}

.App{
    /***/display: flex;
}
